In [3]:
import pandas as pd

df = pd.read_csv("Annual Emmissions Development.csv")
df

    Unnamed: 0         0
0         2014  0.501099
1         2015  0.499158
2         2016  0.501063
3         2017  0.504227
4         2018  0.504320
5         2019  0.497428
6         2020  0.484564
7         2021  0.473826
8         2022  0.471351
9         2023  0.466487
10        2024  0.457296
11        2025  0.443911
12        2026  0.426523
13        2027  0.405379
14        2028  0.380771
15        2029  0.353027
16        2030  0.322499