In [4]:
import pandas as pd

df = pd.read_csv("Interpolated Energy Mix.csv")
df

,Rok,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
0,Jaderné (JE),4290.00000,4290.00000,4290.00000,4290.00000,4290.00000,4290.00000,4290.00000,4290.00000,4290.00000,4290.000000,4290.000000,4290.000000,4290.000000,4290.000000,4290.000000,4290.000000,4290.00000
1,Parní (PE),10836.70440,10741.85200,10849.97500,11075.52400,11075.44200,10729.86900,10058.84800,9527.69500,9415.89700,9285.924263,9056.804559,8728.537886,8301.124245,7774.563636,7148.856059,6424.001513,5600.00000
2,Vodní (VE),1091.04920,1094.98050,1100.19060,1112.26110,1112.51960,1113.20809,1113.91253,1114.63113,1113.57568,1112.480340,1111.697954,1111.228523,1111.072046,1111.228523,1111.697954,1112.480340,1113.57568
3,Přečerpávací (PVE),1171.50000,1171.50000,1171.50000,1171.50000,1171.50000,1171.50000,1171.50000,1171.50000,1171.50000,1171.500000,1171.500000,1171.500000,1171.500000,1171.500000,1171.500000,1171.500000,1171.50000
4,Větrné (VTE),278.19090,282.18590,282.15490,308.20740,316.70740,339.42440,339.42440,339.42440,339.09490,347.524603,366.435287,395.826953,435.699600,486.053228,546.887837,618.203428,700.00000
5,Fotovoltaické (FVE),2076.79442,2078.25037,2075.66434,2076.62602,2061.97144,2069.07458,2079.52089,2087.70511,2100.37697,2206.802930,2422.093724,2746.249352,3179.269814,3721.155109,4371.905239,5131.520203,6000.00000
6,Plynové,2196.66900,2218.87800,2237.49200,2259.48700,2274.40980,2301.20400,2325.24930,2346.65180,2375.71800,2435.090201,2528.366130,2655.545788,2816.629174,3011.616288,3240.507130,3503.301701,3800.00000