In [3]:
import pandas as pd
from IPython.display import display

df = pd.read_csv("Elektricke energie_bilance_final.csv", index_col=0)
df = df.rename(
    columns={
        "year": "rok",
        "Vyroba_e": "Celková",
        "p_elektrarny": "Uhelné",
        "vod_elektrarny": "Vodní",
        "vet_elektrarny": "Větrné",
        "sol_elektrarny": "Solární",
        "J_elektrarny": "Jaderné",
    }
)
display(df)

     rok  Celková  Uhelné  Vodní  Větrné  Solární  Jaderné
id
1   2010    85903   53574   3380     335      616    27998
2   2011    87477   53951   2664     397     2182    28283
3   2012    87418   51669   2860     416     2149    30324
4   2013    86913   50015   3639     481     2033    30745
5   2014    86148   50262   2961     477     2123    30325
6   2015    83892   51143   3071     573     2264    26841
7   2016    83309   53375   3202     497     2131    24104
8   2017    87050   52886   3040     591     2193    28340
9   2018    88032   52464   2679     609     2359    29921
10  2019    87031   50598   3175     700     2312    30246
11  2020    81517   45051   3437     699     2287    30043
12  2021    84907   47801   3620     602     2153    30731

In [10]:
file = "Instalovany_vykon.xlsx"
xls = pd.ExcelFile(file)
xls.sheet_names

['List1']

In [14]:
df1 = xls.parse("List1")
# df1 = df1.rename(columns={"Unnamed: 0": "Country"})
df1.head()

,Unnamed: 0,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Instalovaný výkon [MWe],67460.28132,67338.37677,67608.44384,68156.61652,68194.40204,67601.35307,66332.55242,65335.95424,65195.77755
1,Jaderné (JE),28196.00000,28210.00000,28224.00000,28238.00000,28252.00000,28266.00000,28280.00000,28294.00000,28308.00000
2,Parní (PE),0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3,Paroplynové (PPE),0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
4,Plynové a spalovací (PSE),21940.90792,21877.64677,22006.97684,22293.60552,22302.55024,22014.28007,21378.45512,20877.60744,20806.16255