In [83]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("Auta_uhlikova_stopa.csv")
df.head()

,Model,Vykon_kW,Baterie_kWh,Vyrobni_emise_kg,Spotreba_100_km,Emise_CO2_g_km
0,Skoda Scala TSI,81,0.0,6000,4.7,111
1,Skoda Scala TDI,85,0.0,6000,4.4,126
2,Hyundai Kona,111,48.4,16000,14.6,681

In [84]:
annual_emissions = pd.read_csv("Annual Emmissions Development.csv", index_col=0)
annual_emissions = annual_emissions.rename(
    columns={"Unnamed: 0": "rok", "0": "emissions_per_kwh"}
)
annual_emissions

      emissions_per_kwh
2014           0.501099
2015           0.499158
2016           0.501063
2017           0.504227
2018           0.504320
2019           0.497428
2020           0.484564
2021           0.473826
2022           0.471351
2023           0.466487
2024           0.457296
2025           0.443911
2026           0.426523
2027           0.405379
2028           0.380771
2029           0.353027
2030           0.322499

In [85]:
annual_mileage = [10000, 15000, 20000]

for mileage in annual_mileage:
    df[f"Najezd_{mileage}"] = df["Vyrobni_emise_kg"] + (
        mileage / 100 * df["Emise_CO2_g_km"]
    )
df

,Model,Vykon_kW,Baterie_kWh,Vyrobni_emise_kg,Spotreba_100_km,Emise_CO2_g_km,Najezd_10000,Najezd_15000,Najezd_20000
0,Skoda Scala TSI,81,0.0,6000,4.7,111,17100.0,22650.0,28200.0
1,Skoda Scala TDI,85,0.0,6000,4.4,126,18600.0,24900.0,31200.0
2,Hyundai Kona,111,48.4,16000,14.6,681,84100.0,118150.0,152200.0