In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv("Auta_uhlikova_stopa.csv", index_col="Model")
df = df.apply(pd.to_numeric, errors="coerce")
df.head()

,Vykon_kW,Baterie_kWh,Vyrobni_emise_kg,Spotreba_100_km,Emise_CO2_g_km
Model,,,,,
Skoda Scala TSI,81,0.0,6000,4.7,111
Skoda Scala TDI,85,0.0,6000,4.4,126
Hyundai Kona,111,48.4,16000,14.6,69

In [ ]:
annual_emissions = pd.read_csv("Annual Emmissions Development.csv", index_col=0)

annual_emissions = annual_emissions.apply(pd.to_numeric, errors="coerce")
annual_emissions = annual_emissions.rename(

    columns={"Unnamed: 0": "rok", "0": "emissions_per_kwh"}
)
annual_emissions

      emissions_per_kwh
2014           0.501099
2015           0.499158
2016           0.501063
2017           0.504227
2018           0.504320
2019           0.497428
2020           0.484564
2021           0.473826
2022           0.471351
2023           0.466487
2024           0.457296
2025           0.443911
2026           0.426523
2027           0.405379
2028           0.380771
2029           0.353027
2030           0.322499

In [ ]:
annual_mileage = [10000, 15000, 20000]

for mileage in annual_mileage:
    df[f"Najezd_{mileage}"] = df["Vyrobni_emise_kg"] + (
        mileage / 100 * df["Emise_CO2_g_km"]
    )
df

,Vykon_kW,Baterie_kWh,Vyrobni_emise_kg,Spotreba_100_km,Emise_CO2_g_km,Najezd_10000,Najezd_15000,Najezd_20000
Model,,,,,,,,
Skoda Scala TSI,81,0.0,6000,4.7,111,17100.0,22650.0,28200.0
Skoda Scala TDI,85,0.0,6000,4.4,126,18600.0,24900.0,31200.0
Hyundai Kona,111,48.4,16000,14.6,69,22900.0,26350.0,29800.0

In [ ]:
car_emissions = pd.DataFrame(columns=list(range(2023, 2031)))
car_emissions

Empty DataFrame
Columns: [2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030]
Index: []

In [ ]:
cars = ["Skoda Scala TSI", "Skoda Scala TDI", "Hyundai Kona"]

for car in cars:
    car_emissions.loc[car] = 0

car_emissions

                 2023  2024  2025  2026  2027  2028  2029  2030
Skoda Scala TSI     0     0     0     0     0     0     0     0
Skoda Scala TDI     0     0     0     0     0     0     0     0
Hyundai Kona        0     0     0     0     0     0     0     0

In [ ]:
car_emissions_10000 = car_emissions

In [ ]:
# for car in cars:
#     for year in car_emissions_10000.columns:
#         emissions_per_km = df.loc[car]["Emise_CO2_g_km"]
#         production_emissions = df.loc[car]["Vyrobni_emise_kg"]
#         car_emissions_10000.loc[car][year] = (
#             emissions_per_km * 10000 + production_emissions
#         )

# car_emissions_10000

In [ ]:
for car in cars:
    for year in car_emissions_10000.columns:
        emissions_per_km = df.loc[car]["Emise_CO2_g_km"]
        production_emissions = df.loc[car]["Vyrobni_emise_kg"]
        car_emissions_10000.loc[car][year] = (
            emissions_per_km * (year - 2022) * 10000
        ) / 1000 + production_emissions
car_emissions_10000

                  2023   2024   2025   2026   2027   2028   2029   2030
Skoda Scala TSI   7110   8220   9330  10440  11550  12660  13770  14880
Skoda Scala TDI   7260   8520   9780  11040  12300  13560  14820  16080
Hyundai Kona     16690  17380  18070  18760  19450  20140  20830  21520

In [ ]:
car_emissions_10000.loc["Hyundai Kona*"] = 0

for year in car_emissions_10000.columns:
    emissions_per_km = annual_emissions.loc[year]["emissions_per_kwh"] * 0.15
    production_emissions = df.loc["Hyundai Kona"]["Vyrobni_emise_kg"]
    car_emissions_10000.loc["Hyundai Kona*"][year] = (
        emissions_per_km * (year - 2022) * 10000 + production_emissions
    )
car_emissions_10000

                  2023   2024   2025   2026   2027   2028   2029   2030
Skoda Scala TSI   7110   8220   9330  10440  11550  12660  13770  14880
Skoda Scala TDI   7260   8520   9780  11040  12300  13560  14820  16080
Hyundai Kona     16690  17380  18070  18760  19450  20140  20830  21520
Hyundai Kona+        0      0      0      0      0      0      0      0